.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .login-input {
      height: 30px;
      padding: 10px;
    }

    .login-button {
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
    }

    .login-button:disabled {
      background-color: #0071c28c;
      cursor: not-allowed;
    }

    .error {
      background: rgb(241, 102, 102);
      padding: 15px;
      color: rgb(71, 65, 82);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
